.main-container .header{
  background: no-repeat top left/100px url('../public/bomberos-de-chile.png') ;
  height: 120px;
  margin: 10px 0;
}
.btn-corner {
  position: absolute;
  top: 0;
  right: 0;
}