.main-container .header{
  background: no-repeat top left/100px url('../public/bomberos-de-chile.png') ;
  height: 120px;
  margin: 10px 0;
}
.btn-corner {
  position: absolute;
  top: 0;
  right: 0;
}
@media screen and (max-width: 1000px) {
  .main-container .header {
    font-size: 22px;
    flex-direction: column!important;
    background: transparent;
  }
  .footer p{
    text-align: center !important;
  }
  .hide-sm {
    display: none
  }
}