body{
  height: 100vh;
}
h3 {
  font-size: 1.1rem;
}
.main-container .header{
  background: no-repeat top left/100px url('../public/bomberos-de-chile.png') ;
  height: 120px;
  margin: 10px 0;
}
.btn-corner {
  position: absolute;
  top: 0;
  right: 0;
}
.footer {
  background: #253748;
  color: #fff;
  padding: 15px 0;
}
.footer a {
  color: rgb(235, 1, 1);
}
.btn-config {
  position: absolute;
  top: 50px;
  right: 0;
}
.label {
  display: inline-block;
  margin-right: 15px;
}
.label-bold{ font-weight: 600;}
.options {

}
.options label {
  display: inline-block;
  margin-right: 10px;
}
@media screen and (max-width: 1000px) {
  .main-container .header {
    font-size: 22px;
    flex-direction: column!important;
    background: transparent;
  }
  .footer p{
    text-align: center !important;
  }
  .hide-sm {
    display: none
  }
  table tr {
    display: flex;
    flex-wrap: wrap;
  }
  table td:first-child {
    width: 35px;
  }
  table td:nth-child(2) {width: calc(100% - 35px);}
  table td:nth-child(2) input, table td:last-child, table td:last-child input {width: 100%;}
  table td:nth-child(3), table td:nth-child(6) {
    width: 25%;
  }
  table td:nth-child(4),table td:nth-child(5), 
  table td:nth-child(7),table td:nth-child(8) {
    width: 37.5%;
  }
  table td::before {
    content: attr(data-label);
    display: block;
  }
}